@using OrchardCore.Tags.ViewModels;
@model TagsPartViewModel
@inject IAuthorizationService AuthorizationService
@inject OrchardCore.Settings.ISiteService _site
@using OrchardCore.Tags.Models;
@using OrchardCore.Entities;

@{
    //for auto-complete, get's all tags in the system
    var tags = (await _site.GetSiteSettingsAsync()).As<TagsSettings>().Tags;
}

<div class="form-group">
        <label asp-for="Tags">@T["All Tags in the system"]</label>
    <div class="input-group">
        <input asp-for="Tags" class="form-control" />
        <span asp-validation-for="Tags"></span>
    </div>
    @if (Model.Settings.AllowMultiple)
    {
        <span class="hint">@T["Add multiple tags."]</span>
    }
    else
    {
        <span class="hint">@T["Add a tag."]</span>
    }
</div>